@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:aliceblue;
    background-color: black;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 500%;
}


/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}


/* Hero image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/pexels-pixabay-356147.jpg) no-repeat;
}

#cover-text, #cover-text h2 {
    color: white;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 100px;

    padding-top: 10px;
    padding-left: 20px;
    background-color: rgba(140, 106, 173, 0.7);
}



/* message here */