@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: aliceblue;
    background-color: black;
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 500%;
    margin-left: 50px;
    margin-top: 10px;
    color: blueviolet
}


/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}


/* Hero image */

#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/pexels-pixabay-356147.jpg) no-repeat;
}

#cover-text,
#cover-text h2 {
    color: white;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 100px;

    padding-top: 10px;
    padding-left: 20px;
    background-color: rgba(140, 106, 173, 0.7);
}


/* Art examples */

.block {
    display: flex;
    justify-content: center;
}

#examples {
    text-align: center;
}

.image-box {
    width: 33%;
    display: inline-block;
    margin-top: 10px;
}


/* Form */

.com-form {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    padding: 30px;
}

.com-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.submit-button {
    margin-top: 40px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}


/* Media queries */

@media screen and (max-width: 1930px) {
    .block {
        padding-left: 4%;
    }
}

@media screen and (max-width: 830px) {
    .block {
        display: grid;
        grid-template-columns: 30 30 30;
        justify-content: center;
    }

    #logo {
        font-size: 400%;
    }

    #hero-image {
        height: 200px;
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    #logo {
        font-size: 400%;
    }

    #hero-image {
        height: 200px;
        width: 50%;
    }

    #menu {
        font-size: 100%;
    }

    .images {
        width: 250%;
    }

    footer {
        height: 50px;
    }
}
